{#{% extends 'layout/dashboard.html' %}#}
{#{% block title %}Generate-Content{% endblock title %}#}
{##}
{#{% load static %}#}
{##}
{#{% block body %}#}
{##}
{##}
{#    <div class="container-fluid flex-grow-1 container-p-y">#}
{#        <!-- Layout Demo -->#}
{#        <div class="layout-demo-wrapper">#}
{##}
{#            <div class="row">#}
{#                <div class="col-lg-1"></div>#}
{#                <div class="col-lg-10">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <img class="img-fluid" src="{% static 'main/img/illustrations/dashboard-main.svg' %}"#}
{#                                 alt="Create Blog">#}
{#                        </div>#}
{##}
{#                        <div class="col-lg-6">#}
{##}
{#                            <h2 class="mb-3 mt-5">Enter your topic to get started</h2>#}
{##}
{#                            <form class="" action="#" method="post">#}
{#                                {% csrf_token %}#}
{#                                <label for="contentTopic" class="form-label">Your Topic Goes here.</label>#}
{#                                <div class="form-floating mb-3">#}
{#                                    <textarea type="text" class="form-control" placeholder="Enter Your Question to get started"#}
{#                                              name="contentTopic" style="height: 100px" required></textarea>#}
{#                                </div>#}
{##}
{#                                <div class="mb-3">#}
{#                                    <button class="btn btn-primary d-grid w-100" type="submit">Generate Content</button>#}
{#                                </div>#}
{##}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-1"></div>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{#    </div>#}
{#{% endblock body %}#}